<div layout="row" style="max-height: 500px; overflow-y: auto;">
    <div layout="column" flex layout-margin layout-padding>
        <h2 class="md-headline" style="margin: 0 0 10px 0;">{{vm.title}}</h2>
        <form name="passwordForm">
            <md-input-container class="no-bottom">
                <input id="password" placeholder="password" type="password" ng-model="vm.password.password">
            </md-input-container>
            <md-input-container class="no-bottom">
                <input placeholder="user" type="text" ng-model="vm.password.user">
            </md-input-container>
            <md-input-container class="no-bottom">
                <input placeholder="url" type="text" ng-model="vm.password.url">
            </md-input-container>
            <md-input-container class="md-block no-bottom">
                <textarea placeholder="notes" ng-model="vm.password.notes"></textarea>
            </md-input-container>
        </form>
    </div>
</div>
