<div layout="column" style="max-height: 500px; overflow-y: auto;">
        <!--<h2 class="md-headline" style="margin: 0 0 10px 0;">{{vm.title}}</h2>-->
    <md-card>
        <md-card-content style="padding: 10px;">
            <input class="unlock-input" placeholder="password" type="password" ng-model="vm.password.password">
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content style="padding: 10px;">
            <input placeholder="user" class="unlock-input" type="text" ng-model="vm.password.user">
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content style="padding: 10px;">
            <input placeholder="url" class="unlock-input" type="text" ng-model="vm.password.url">
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content style="padding: 10px;">
            <md-input-container class="md-block no-bottom">
                <textarea placeholder="notes" ng-model="vm.password.notes"></textarea>
            </md-input-container>
        </md-card-content>
    </md-card>
</div>
