<div class="row" style="max-height:480px; overflow-y: auto; margin-bottom: 0; margin-top: 20px;">
    <div class="col s12">
        <!--<div class="input-card-title">password</div>-->
        <div class="card-panel white input-card">
            <input placeholder="password" type="password" ng-model="vm.password.password">
        </div>
        <div class="input-card-title">user</div>
        <div class="card-panel white input-card">
            <input placeholder="user" type="text" ng-model="vm.password.user">
        </div>
        <div class="input-card-title">url</div>
        <div class="card-panel white input-card">
            <input placeholder="url" type="text" ng-model="vm.password.url">
        </div>
        <div class="input-card-title">more</div>
        <div class="card-panel white input-card" style="max-height: 150px; overflow-y: auto;">
            <textarea placeholder="more" class="materialize-textarea" ng-model="vm.password.more"></textarea>
        </div>
    </div>
</div>
