<md-dialog aria-label="new Password" ng-cloak>
    <form name="vm.form">
        <md-dialog-content>
            <div class="md-dialog-content">
                <h3 style="margin-top: 5px;">New Password File</h3>
                <p>Enter a filename</p>
                <md-input-container class="no-bottom">
                    <input id="filename" name="filename" placeholder="filename" type="text" ng-model="vm.filename" autocomplete="off" required pattern=".*[^\/]$" md-autofocus>
                    <div ng-messages="vm.form.filename.$error" role="alert">
                        <div ng-message="required">You must enter a filename.</div>
                        <div ng-message="pattern">The filename cannot end with '/'.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="vm.cancel()">Close</md-button>
            <md-button type="submit" ng-click="vm.create()">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
