<div layout="row" style="max-height: 500px; overflow-y: auto;">
    <div layout="column" flex layout-margin layout-padding>
        <div layout="row">
            <h2 class="md-headline ellipsis" style="margin: 0 0 10px 0;">{{vm.title}}</h2>
            <md-button ng-click="vm.copyPassword()" class="md-icon-button" style="margin-top: -3px;">
                <md-icon>content_copy</md-icon>
            </md-button>
        </div>
        <form name="passwordForm">
            <div layout="row">
                <md-input-container class="no-bottom" ng-switch="vm.showPassword" flex>
                    <input ng-switch-default placeholder="password" type="password" ng-model="vm.password.password" ng-disabled="vm.loading">
                    <input ng-switch-when="true" placeholder="password" type="text" ng-model="vm.password.password" ng-disabled="vm.loading">
                </md-input-container>
                <md-button ng-click="vm.showPassword = !vm.showPassword" class="md-icon-button" style="margin-top: 11px;">
                    <md-icon>remove_red_eye</md-icon>
                </md-button>
            </div>
            <md-input-container class="no-bottom">
                <input placeholder="user" type="text" ng-model="vm.password.user" ng-disabled="vm.loading" autocomplete="off">
            </md-input-container>
            <md-input-container class="no-bottom">
                <input placeholder="url" type="text" ng-model="vm.password.url" ng-disabled="vm.loading" autocomplete="off">
            </md-input-container>
            <md-input-container class="md-block no-bottom">
                <textarea placeholder="notes" ng-model="vm.password.notes" ng-disabled="vm.loading"></textarea>
            </md-input-container>
        </form>
    </div>
</div>
