<!doctype html>
<html ng-app="compass" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Compass</title>
        <script src="dist/app.bundle.js"></script>
    </head>
    <body ng-controller="AppController as vm" ng-class="[vm.style.body]" style="height: 100%;">
        <div layout="column" style="height: 100%;">
            <md-toolbar ng-class="[vm.style.nav]" style="flex: 0 1 auto;">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="{{vm.style.leftButton.aria}}" ng-click="vm.style.leftButton.handler()" ng-if="vm.style.leftButton">
                        <md-icon style="color: white;">{{vm.style.leftButton.icon}}</md-icon>
                    </md-button>
                    <div class="icon-button-spacer" ng-if="!vm.style.leftButton && (vm.style.rightButton || vm.style.rightMenu)"></div>
                    <span class="md-display-1 title" flex>compass</span>
                    <div class="icon-button-spacer" ng-if="vm.style.leftButton && (!vm.style.rightButton && !vm.style.rightMenu)"></div>
                    <md-button class="md-icon-button" aria-label="{{vm.style.rightButton.aria}}" ng-click="vm.style.rightButton.handler()" ng-if="vm.style.rightButton">
                        <md-icon style="color: white;">{{vm.style.rightButton.icon}}</md-icon>
                    </md-button>
                    <md-menu md-offset="0 50" md-position-mode="target-right target" ng-if="vm.style.rightMenu">
                        <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin style="color: white;">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                              <md-menu-item ng-repeat="item in vm.style.rightMenu.items">
                                    <md-button ng-click="item.click($event)">
                                        <md-icon md-menu-align-target>{{item.icon}}</md-icon>
                                        {{item.title}}
                                    </md-button>
                              </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <ng-view style="flex: 1 1 auto; position: relative;"></ng-view>
        </div>
    </body>
</html>
