<div class="row">
    <div class="col s12">
        <ul class="collapsible no-select" style="margin: 1rem 0 0.5rem 0;">
            <li ng-show="vm.current.up" ng-click="vm.goUp()">
                <div class="collapsible-header">
                    <i class="material-icons">arrow_upward</i>
                    ..
                </div>
            </li>
            <li ng-repeat="file in vm.current.files" ng-click="vm.selectFile(file)">
                <div class="collapsible-header">
                    <i ng-show="file.files" class="material-icons">folder</i>
                    <i ng-hide="file.files" class="material-icons">lock</i>
                    {{file.name}}
                </div>
            </li>
        </ul>
    </div>
</div>
