.no-shadow {
    box-shadow: none;
}
.password-error {
    text-align: center;
    width: 100%;
    height: 1.5rem;
    margin-top: 10px;
    font-size: 1rem;
}
.password-card {
    width: 100%;
    padding: 5px;
}
input[type="password"] {
    margin: 0;
    border: none;
    box-shadow: none;
    text-align: center;
    font-size: 1.5rem;
}
input[type=password]:focus:not([readonly]) {
    border: none;
    box-shadow: none;
}
.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
    not supported by any browser */
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.collection-item {
    display: flex;
    cursor: pointer;
}

.collection-item span {
    line-height: 1.75rem;
    flex-grow: 1;
}

.collection-item .left {
    text-align: center;
    margin-right: 10px;
}

.collection-item .right {
    text-align: center;
    margin-left: 10px;
}
